body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
    color: #212121;
}

.navbar {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background: #212121;
}

.main-container {
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(20px);
    transition: transform 0.5s, box-shadow 0.5s;
    background: #fff;
    border-radius: 15px;
}

.main-container:hover {
    box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.2);
    transform: translateY(0px);
}

#bio p, #projects p, #skills p {
    line-height: 1.8;
    font-size: 1.2em;
    margin: 20px 0;
}

.card {
    background: #e5e5e5;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

.social-links a {
    margin: 0 10px;
    color: #212121;
}

.progress-bar {
    background-color: #d6ba32;
}

.btn-primary {
    background-color: #d6ba32;
    border-color: #d6ba32;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s, box-shadow 0.5s;
}

.btn-primary:hover {
    box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

.nav-link {
    color: #212121;
}

.navbar a.nav-link:hover {
    color: #d6ba32;
}
