body {
    font-family: 'San Francisco', 'Arial', sans-serif;
    background: linear-gradient(135deg, #1b1b1b, #2f2f2f);
    color: #FFFFFF;
}

.navbar {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #1b1b1b, #2f2f2f);
}

.main-container {
    margin-top: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(20px);
    transition: transform 0.3s, box-shadow 0.3s;
    background: #353535;
    border-radius: 20px;
    padding: 20px;
}

.main-container:hover {
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.2);
    transform: translateY(0px);
}

#bio p, #projects p, #skills p {
    line-height: 1.8;
    font-size: 1.2em;
    margin: 20px 0;
}

.card {
    background: #4f4f4f;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
    margin: 15px 0;
}

.card:hover {
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

.social-links a {
    margin: 0 10px;
    color: #e0e0e0;
}

.progress-bar {
    background-color: #6e5bd7;
}

.btn-primary {
    background-color: #6e5bd7;
    border-color: #6e5bd7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 25px;
    padding: 10px 20px;
    color: #FFFFFF;
}

.btn-primary:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.nav-link {
    color: #e0e0e0;
    transition: color 0.3s;
}

.navbar a.nav-link:hover {
    color: #6e5bd7;
}
