body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1b1b1b, #2f2f2f);
    color: #FFFFFF;
}

.navbar {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #1b1b1b, #2f2f2f);
}

.main-container {
    margin-top: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(20px);
    transition: transform 0.3s, box-shadow 0.3s;
    background: #353535;
    border-radius: 20px;
    padding: 20px;
}

.main-container:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}

#bio p, #projects p, #skills p {
    line-height: 1.8;
    font-size: 1.2em;
    margin: 20px 0;
}

.card {
    background: #4f4f4f;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
    margin: 15px 0;
}

.card:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.social-links a {
    margin: 0 10px;
    color: #FFFFFF;
    font-size: 1.5em;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: translateY(-5px);
}

.social-links a i.fa-envelope {
    color: #d9534f;
}

.social-links a i.fa-github {
    color: #5bc0de;
}

.social-links a i.fa-linkedin {
    color: #5cb85c;
}

.navbar-dark .navbar-toggler-icon { /* Added */
    filter: invert(1);
}
